body {
    margin: 60px auto;
    width: 70%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    vertical-align:top;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    color: #666699;  /* #330033; */
    font-size: 2em;
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
}
h2 {
    color: #333366;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul {list-style:none;}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

pre {
    background: #f4f4f4; /* #272822; */
    border: 1px solid #ddd; /* #cc6699; */
border-left: 3px solid #9966cc; /* #001f3f ;  #f36d33;*/
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

footer div#copy{text-align:right;
    background-color:#272822; /* rgba(20,2,20,1.0); */
    color:rgba(155,177,155,0.9);
}

footer div#copy {
  margin-top: 1em;
  padding:0.5em;
}
footer div#copy a {
  color: #fff; /*d5559;  */
  font-size: 15px;
  /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
}
.le {color:rgba(244,40,165,0.9); } /*   #f428a5; */
.ri {color:rgba(138,91,160,0.9); } /*  #8a5ba0; }*/
.na {color:rgba(91,123,235,0.9); } /*   #5b7beb; }*/

