/***************************
****************************
Reset Styles
****************************
***************************/
@import 'normalize.css';

/* Change all elements to use border-box 
 * If I say the width is 200px, gosh darn it, 
 * it’s gonna be a 200px wide box even if 
 * I have 20px of padding.
 * [box sizing](https://www.paulirish.com/2012/box-sizing-border-box-ftw/)
*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/***************************
****************************
Base Styles
****************************
***************************/
html {
   background: rgba(183, 165, 114,0.1);
  /*background: url(./bg-repeat.jpg) rgba(20,20,20,0.8)
    top center repeat;
  */
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

body {
    margin: 60px auto;
    margin-top: 0px;
    width: 100%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';

}

.container {
margin: 60px auto;
width: 80%;
}

nav ul, footer ul {
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    vertical-align:top;
}
a {
    text-decoration: none;
    color: rgba(183, 65, 14,0.9); /*#999;*/
}
a:hover {    
    text-decoration: underline; 
}
a > img:hover {
    margin-bottom: -4px;
    border-bottom: 1px solid rgba(183, 65, 14,0.9); 
}
h1 {
    color: #666699;  /* #330033; */
    font-size: 2em;
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
}
h2 {
    color: #333366;
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: #555;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .9em;
    border-radius: 15px;
}

ul {list-style:none;}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
li {color: #777;}

pre {
    background: #f4f4f4; /* #272822; */
    border: 1px solid #ddd; /* #cc6699; */
    border-left: 3px solid rgba(183, 65, 14,0.9); /* #9966cc; #001f3f ;  #f36d33;*/
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

footer div#copy{
    text-align:right;
    background-color:#272822; /* rgba(20,2,20,1.0); */
    color:rgba(155,177,155,0.9);
    margin-bottom:-10%;
}

footer div#copy {
  margin-top: 1em;
  padding:0.7em;
  border-radius: 1px;
}
footer div#copy a {
  color: #fff; /*d5559;  */
  font-size: 15px;
  /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
}
footer ul>li{  margin:3em;}

.le {color:rgba(244,40,165,0.9); } /*   #f428a5; */
.ri {color:rgba(138,91,160,0.9); } /*  #8a5ba0; }*/
.na {color:rgba(91,123,235,0.9); } /*   #5b7beb; }*/


.autofit{
height: 100%;
width: 100%;
object-fit: contain;
}

@media screen and (max-width: 579px) and (min-width: 411px) {
    .container {width:95%; margin: 0 auto;}

    .flexit {
        display:flex;
        flex-flow: column;
        /*margin: 0 auto;*/
        width:100%;
        /*background-color: yellow;*/
    }

    #prog{
        padding:3px; 
        margin:auto; 
        width:100%; 
        border-radius: 5px; 
        border: solid 1px #cc6699;
        background-color:#fff;
        /*align-self:flex-start; */
    }
    #writings{
        padding:3px; 
        margin:auto; 
        width:100%; 
        border-radius: 5px; 
        border: solid 1px #666699;
        background-color:#fff;
        /*align-self:flex-end;*/
    }
    #agilepkg{
        padding:3px; 
        margin: auto; 
        width:100%; 
        border-radius: 5px; 
        border: solid 1px #272822;
        background-color:#fff;
        /*align-self:flex-stretch;*/
        /*
        min-height: 24em;
        background-size: contain;
        background-image: url(../pix/agilepkg.png); 
        */
    }
        
}

@media screen and (min-width: 580px) {
    .flexit {
         display: flex;
         flex-flow: row nowrap;
         justify-content: space-around;
         align-items: center;
         width:100%;
        /* background-color: blue;*/
     }


    #prog{
        padding:3px; 
        margin:auto; 
        width:29%; 
        border-radius: 5px; 
        border: solid 1px #cc6699;
        background-color:#fff;
        align-self:flex-start; 
    }
    #writings{
        padding:3px; 
        margin:auto; 
        width:29%; 
        border-radius: 5px; 
        border: solid 1px #666699;
        background-color:#fff;
        align-self:flex-end;
    }
    #agilepkg{
        padding:3px; 
        margin:auto; 
        width:29%; 
        border-radius: 5px; 
        border: solid 1px #272822;
        background-color:#fff;
        align-self:flex-stretch;
        /*
        background-size: contain;
        background-image: url(../pix/agilepkg.png); 
        */
    }
}

#banne {
position:relative;
    left: 0;
    right: 0;
    width:100%;
    height: 100%;
    border-radius: 1px; 
}

