/***************************
****************************
Reset Styles
****************************
***************************/
@import 'normalize.css';

/* Change all elements to use border-box 
 * If I say the width is 200px, gosh darn it, 
 * it’s gonna be a 200px wide box even if 
 * I have 20px of padding.
 * [box sizing](https://www.paulirish.com/2012/box-sizing-border-box-ftw/)
*/
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}


/***************************
****************************
Base Styles
****************************
***************************/
/* Common styles */
* {
  box-sizing: border-box;
}

html {
  background: rgba(183, 165, 114,0.1);
  /* background: url(./bg-repeat.jpg) rgba(20,20,20,0.8)
    top center repeat;
  */
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

body {
/*
    margin: 60px auto;
    margin-top: 0px;
    width: 100%;
    */
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    background-color: c0c0c0;
}

h1, h2, h3, h4 {
  margin-top: 0;
  font-family: 'Architects Daughter', cursive;
}

header h1 {
  margin: 0;
}

main p {
  margin-bottom: 0;
}

/* Example-specific styles */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 2rem;
}

.content-area {
  width: calc(100.0% - 1rem); /*-right  calc(66.6% - 1rem);*/
  margin-right: 1rem;
  float: left;
}

.sidebar {
  width: 33.3%;
  float: right;
  padding: 1rem;
}

.main-header {
  height: 3rem;
}

.logo {
  width: 20%;
  float: left;
  height: 100%;
  line-height: 3rem;
}

.main-menu {
  width: 79%;
  float: right;
  height: 100%;
  line-height: 3rem;
  text-align: right;
}

.main-menu ul {
  margin: 0;
  padding: 0;
}

.main-menu__item {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  font-size: 1.1rem;
  font-family: 'Architects Daughter', cursive;
  margin-right: 0.5rem;
}

.main-menu .main-menu__item:last-of-type {
  margin-right: 0;
}

.content-area-wrapper, .sponsors-wrapper, .main-header {
  margin-bottom: 2rem;
}


.sponsors {
  display: table;
  border-spacing: 1rem;
  width: 100%;
  
}

.sponsor {
  width: 20%;
  display: table-cell;
  vertical-align: top;
  background-color: #fff; 
  /*
  background-color: rgba(183, 165, 114,0.1);
  */
  border-radius: 0.625rem;
}

.sponsor img {
  display: block;
  width: auto;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 992px) {
  .container {
    margin: 0 1rem;
  }
  
  .sponsors {
    border-spacing: 0.5rem;
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  
  .content-area, .sidebar {
    float: none;
  }

  .content-area {
    width: 100%;
    margin-bottom: 2rem;
  }

  .sidebar {
    width: 66.6%;
  }
  
  .sponsors, .sponsor {
    display: block;
  }

  .sponsor {
    width: 100%;
    margin: 1rem 0;
  }
}

@media all and (max-width: 576px) {
  .main-menu, .logo {
    float: none;
    width: 100%;
  }

  .main-menu {
    text-align: left;
    margin-top: 2rem;
  }

  .main-header {
    height: auto;
  }

  .logo, .main-menu {
    line-height: initial;
  }
}
/*****************************************/
nav ul, footer ul {
    /*padding: 0px;*/
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    vertical-align:top;
}
a {
    text-decoration: none;
    color: #37363c; /*rgba(183, 65, 14,0.9); /*#999;*/
}
a:hover {    
    text-decoration: underline;
    color: #b39eb5; 
}
a > img:hover {
    margin-bottom: -4px;
    border-bottom: 1px solid rgba(183, 65, 14,0.9); 
}
h1 {
    color: #37363c;   /* 666699; #330033; */
    font-size: 2em;
}
h2 {
    color: #515059; /* #333366 */
}
h3 {
    color: #1e1e21;
}
h4 {
    color: #1e1e21;
}

p {
    font-size: 1em;
    line-height: 1.4em;
    color: #6c6b78; /*#555*/
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .9em;
    border-radius: 15px;
}

ul {list-style:none;}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
li {color: #777;}

pre {
    background: #faf0e6; /*585945;   #f4f4f4 #272822; */
    border: 1px solid #ddd; /* #cc6699; */
    border-left: 3px solid #b7a8b8 ; /* rgba(183, 65, 14,0.9) #9966cc; #001f3f ;  #f36d33;*/
    color: #666;
    page-break-inside: avoid;
    font-size: 75%;
    line-height: 1.3;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}

blockquote{
    font-family: 'Architects Daughter', cursive;
}
code {
    font-family: 'Inconsolata', monospace;
}
/*
.sourceCode{color:#585945;}
*/
footer div#copy{
    text-align:right;
    background-color:#272822; /* rgba(20,2,20,1.0); */
    color:rgba(155,177,155,0.9);
    margin-bottom:-10%;
}

footer div#copy {
  margin-top: 1em;
  padding:0.7em;
  border-radius: 1px;
}
footer div#copy a {
  color: #fff; /*d5559;  */
  font-size: 15px;
  /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
}

footer ul>li{  margin:3em; }

.le {color:rgba(244,40,165,0.9); font-size:120%;} /*   #f428a5; */
.ri {color:rgba(138,91,160,0.9); font-size:120%;} /*  #8a5ba0; }*/
.na {color:rgba(91,123,235,0.9); font-size:120%;} /*   #5b7beb; }*/

.topPix {
    position:relative;
    top: -1rem;
    width:100%; 
}

.pink{
padding:3px; 
    border-radius: 5px; 
    border: solid 1px rgba(244,40,165,0.9); /*#cc6699 */
    background-color:#fff;
}

.purple{
padding:3px; 
    border-radius: 5px; 
    border: solid 1px rgba(138,91,160,0.9); /* #aa98a9 272822 */
    background-color:#fff;
}

.blue{
padding:3px; 
    border-radius: 5px; 
    border: solid 1px rgba(91,123,235,0.9); /* #666699 */
    background-color:#fff;
}

.hero {background-color: rgba(247, 245, 240,0.1);}

/*.hero {background-color: rgba(183, 165, 114,0.1);}
*/
