
/* Neat.css (https://github.com/codazoda/neatcss), with a few modifications */
/* from https://scottnesbitt.net/ with more Neat.css back into it.*/
:root {
    color-scheme: light;
    --light: #fff;
    --dark: #404040;
    /* neat */
    --active-brightness: 0.85;
    --border-radius: 5px;
    --box-shadow: 2px 2px 10px;
    --color-accent: #118bee15;
    --color-bg: #fff;
    --color-bg-secondary: #e9e9e9;
    --color-link: #118bee;
    --color-secondary: #920de9;
    --color-secondary-accent: #920de90b;
    --color-shadow: #f4f4f4;
    --color-table: #118bee;
    --color-text: #000;
    --color-text-secondary: #999;
    -hover-brightness: 1.2;
    --justify-important: center;
    --justify-normal: left;
    --line-height: 1.5;
    --width-card: 285px;
    --width-card-medium: 460px;
    --width-card-wide: 800px;
    --width-content: 1080px;
}

* {
    box-sizing: border-box;
    color: var(--dark);
}

html {
    font-family: Overpass, system-ui, -apple-system, sans-serif;
}

body {
    /* background-color: var(--light); */
    line-height: 1.4;
    font-size: 18px;
    margin: 0;
    max-width: 800px;
    padding: 0 20px 20px 20px;
    margin-left: auto;
    margin-right: auto;
    font-family: Overpass, system-ui, -apple-system, sans-serif;
}

p {
    margin-bottom: 10px;
    line-height: 1.4em;
}

h1,h2,h3,p,li,td {
                font-family: Overpass, system-ui, -apple-system, sans-serif;
        }
        
kbd,tt,code {
                font-family: "Overpass Mono", -apple-system, monospace;
        }

img {
    width: 100%;
}

pre {
    overflow: auto;
}

footer {
               font-family: Overpass, system-ui, -apple-system, sans-serif;
               text-align: right;
               font-size: 11px;
               margin-top: 30px;
        }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.home {
    display: inline-block;
    background-color: var(--dark);
    color: var(--light);
    margin-top: 20px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-weight: bold;
}

.row {
  display: flex;
  justify-content: space-between;
}

aside {
  width: 45%;
  padding: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  /* box-shadow: 0 0 4px blue; */
  box-shadow: 4px 4px gray;
}

/* Desktop sizes */
@media only screen and (min-width: 600px) {
    ol {
        column-count: 2;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 100%;
    }

    .row .column {
        display: block;
        flex: 1 1 auto;
        max-width: 100%;
        width: 100%;
    }

    .row .column:not(:last-child) {
        margin-right: 10px;
    }
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--justify-important);
}

section img,
article img {
    max-width: 100%;
}

section pre {
    overflow: auto;
}

section aside {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: var(--width-card);
}

section aside:hover {
    box-shadow: var(--box-shadow) var(--color-bg-secondary);
}

[hidden] {
    display: none;
}
/* Headers */
article header,
div header,
main header {
    padding-top: 0;
}

header {
    text-align: var(--justify-important);
}

header a b,
header a em,
header a i,
header a strong {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

header nav img {
    margin: 1rem 0;
}

section header {
    padding-top: 0;
    width: 100%;
}

/* Nav */
nav {
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin-bottom: 7rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    position: relative;
    text-align: left;
}

/* Nav Dropdown */
nav ul li:hover ul {
    display: block;
}

nav ul li ul {
    background: var(--color-bg);
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    display: none;
    height: auto;
    left: -2px;
    padding: .5rem 1rem;
    position: absolute;
    top: 1.7rem;
    white-space: nowrap;
    width: auto;
    z-index: 1;
}

nav ul li ul::before {
    /* fill gap above to make mousing over them easier */
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -0.5rem;
    height: 0.5rem;
}

nav ul li ul li,
nav ul li ul li a {
    display: block;
}

